# Dependencies
node_modules/
**/node_modules/

# Builds 
dist/
build/
.out/
.next/
.next.cache/
.storybook-out/
coverage/
.tmp/
.temp/
.cache/
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


.env
.env.*
!.env.example
*.local


.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json


.dockerignore
docker-data/
*.pid


cypress/videos/
cypress/screenshots/
playwright-report/
test-results/

.vercel/
